@font-face {
    font-family: 'Norse-Bold';
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 1000px;
}

body,
html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form>div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#checkbox {
    display: flex;
    flex-direction: row;
}

#call-to-action {
    margin-left: 1em;
    margin-right: 1em;
}

#banner {
    /* background: no-repeat url("../images/background.jpg"); */
    background: no-repeat url("images/background.jpg");
    background-size: cover;
    /*1000px; */
    width: 60%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-text {
    font-family: 'Norse-Bold';
    font-size: 6em;
    color: white;
    display: flex;
    text-align: center;
}

span {
    font-family: 'Norse-Bold';
    font-size: 1.8em;
}

.president {
    font-size: 4em;
}

#odin {
    height: 150px;
}

#logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 20%;
}

#main {
    height: 100%;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

#main-intro-text {
    height: 100%;
    width: 100%;
    background-color: #F9FAFB;
}

#main-form {
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px lightgrey;
    margin-bottom: 10px;
}

#main-bottom {
    width: 100%;
    height: 100%;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
}

.text-big {
    font-size: 1.4em;
    font-weight: normal;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    max-width: 30em;
}

.text-emphasis {
    color: rgb(42, 41, 41);
    font-size: 1.4em;
    font-weight: bold;
}

.text-caveat {
    font-size: 0.8em;
}

form {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

form>div {
    max-width: 250px;
    margin-right: 2em;
}

input {
    border-radius: 5px;
    border: 1px solid grey;
    height: 1.4em;
    font-size: 1em;
}

input:focus {
    outline: none;
}

input:valid {
    border: 1px solid #1D4ED8;
    /* rgb(182, 238, 182) */
}

input:hover {
    border: 1px solid rgb(135, 135, 222);
}

label {
    font-weight: normal;
    font-size: 0.7em;
    letter-spacing: 0.1em;
}

button {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    margin: 1.5em;
}

#login-text {
    margin-left: 1.5em;
}

#login {
    font-weight: bold;
    color: #596D48;
}

#credit {
    color: white;
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 10px;
}

#credit>a {
    color: white;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:visited {
    color: #596D48;
}

/* * {
    border: 1px solid red;
} */