@font-face {
    font-family: 'Norse-Bold';
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body,
html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form>div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#checkbox {
    display: flex;
    flex-direction: row;
}

#call-to-action {
    margin-left: 1em;
    margin-right: 1em;
}

#banner {
    background: no-repeat url("../assets/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: 800px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banner-text {
    font-family: 'Norse-Bold';
    font-size: 6em;
    color: white;
    display: flex;
    text-align: center;
}

span {
    font-family: 'Norse-Bold';
    font-size: 1.8em;
}

.president {
    font-size: 4em;
}

#odin {
    height: 150px;
}

#logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 100px;
}

#main {
    height: 100%;
    width: 800px;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 248, 248);
}

.text-big {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    max-width: 25em;
}

.text-emphasis {
    color: rgb(42, 41, 41);
    font-size: 1.4em;
    font-weight: bold;
}

.text-caveat {
    font-size: 0.8em;
}

form {
    margin: 1em;
}

form>div {
    max-width: 250px;
}

input:valid {
    border: 2px solid rgb(182, 238, 182)
}

input:hover {
    border: 2px solid rgb(135, 135, 222);
}

label {
    font-weight: normal;
    font-size: 0.7em;
    letter-spacing: 0.1em;
}

button {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    width: 75px;
    height: 25px;
    border-radius: 5px;
}

#credit {
    color: white;
    font-size: 0.8em;
    text-align: center;
}

/* * {
    border: 1px solid red;
} */